<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>Enquête Web Development</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <h1>Enquête Minor Web Development</h1>
      <nav>
        <ul>
          <li><a href="#wafs">Web Apps From Scratch</a></li>
          <li><a href="#cssttr">CSS To The Rescue</a></li>
          <li><a href="#browser-technologies">Browser Technologies</a></li>
          <li><a href="#pwa">Progresive Web Apps</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <nav>
        <a href="https://github.com/cmda-minor-web">Github</a>
      </nav>
    </footer>
    <script src="/scripts/client.js"></script>
  </body>
</html>