<h2>Enquête minor Web Development</h2>
<p>Welkom bij de enquête voor de minor web development. Wij zijn benieuwd naar hoe jij de eerste 4
  vakken van de minor hebt ervaren.</p>
<p>Per vak zijn er een aantal vragen en kan jij je inzichten in het vak aangeven. De enquête duurt
  ongeveer 5 minuten om in te vullen.</p>
<p>We willen je alvast hartelijk bedanken voor je tijd</p>
<form action="/" method="post">
  <h3>Starten met de Enquête</h3>
  <button>Begin</button>
</form>