<span class="hide" id="breadCrum1"></span>
<span class="hide" id="breadCrum2"></span>
<span class="hide" id="breadCrum3"></span>
<span class="hide" id="breadCrum4"></span>
<span class="hide" id="breadCrum5"></span>

<form action="/survey" method="post">
  <fieldset>
    <legend>Student gegevens</legend>
    <h2>Jouw gegevens</h2>
    <label for="name">Je naam:</label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Jouw naam"
      required=""
      aria-required="”true”"
      title="Voer hier je naam in."
    />
    <label for="studentNumber">studentnummer:</label>
    <input
      type="number"
      name="studentNumber"
      id="studentNumber"
      placeholder="500123456"
      pattern="[0-9]{9}"
      title="Voer hier je studentnummer in."
      required=""
    />
  </fieldset>

  {{! --------------------------------WAFS-------------------------------- }}
  <fieldset>
    <legend>Web Apps From Scratch</legend>

    {{! Beoordelaar }}
    <h2>Beoordelaar</h2>
    <input type="radio" name="wafsDocent" value="joost" id="wafsJoost" required="" />
    <label for="wafsJoost">Joost</label>
    <input type="radio" name="wafsDocent" value="koop" id="wafsKoop" required="" />
    <label for="wafsKoop">Koop</label>

    {{! Weken }}
    <h2>In welke weken volgde je dit vak?</h2>
    <label for="wafsWeekStart">Van week: </label>
    <input
      type="number"
      name="wafsWeken"
      id="wafsWeekStart"
      min="0"
      max="52"
      value="1"
      required=""
    />
    <label for="wafsWeekEnd">tot week: </label>
    <input type="number" name="wafsWeken" id="wafsWeekEnd" min="0" max="52" value="3" required="" />

    {{! cijfer }}
    <h2>Welk cijfer geef je dit vak?</h2>
    <input type="radio" name="wafsCijfer" value="0" id="wafsCijfer-0" required="" />
    <label for="wafsCijfer-0">0</label>
    <input type="radio" name="wafsCijfer" value="1" id="wafsCijfer-1" required="" />
    <label for="wafsCijfer-1">1</label>
    <input type="radio" name="wafsCijfer" value="2" id="wafsCijfer-2" required="" />
    <label for="wafsCijfer-2">2</label>
    <input type="radio" name="wafsCijfer" value="3" id="wafsCijfer-3" required="" />
    <label for="wafsCijfer-3">3</label>
    <input type="radio" name="wafsCijfer" value="4" id="wafsCijfer-4" required="" />
    <label for="wafsCijfer-4">4</label>
    <input type="radio" name="wafsCijfer" value="5" id="wafsCijfer-5" required="" />
    <label for="wafsCijfer-5">5</label>
    <input type="radio" name="wafsCijfer" value="6" id="wafsCijfer-6" required="" />
    <label for="wafsCijfer-6">6</label>
    <input type="radio" name="wafsCijfer" value="7" id="wafsCijfer-7" required="" />
    <label for="wafsCijfer-7">7</label>
    <input type="radio" name="wafsCijfer" value="8" id="wafsCijfer-8" required="" />
    <label for="wafsCijfer-8">8</label>
    <input type="radio" name="wafsCijfer" value="9" id="wafsCijfer-9" required="" />
    <label for="wafsCijfer-9">9</label>
    <input type="radio" name="wafsCijfer" value="10" id="wafsCijfer-10" required="" />
    <label for="wafsCijfer-10">10</label>

    {{! Lesstof }}
    <h2>Hoe goed was de lesstof te begrijpen?</h2>
    <input type="radio" name="wafsLesstof" value="zeer lastig" id="wafsLesstof-0" required="" />
    <label for="wafsLesstof-0">Zeer Lastig</label>
    <input type="radio" name="wafsLesstof" value="lastig" id="wafsLesstof-1" required="" />
    <label for="wafsLesstof-1">Lastig</label>
    <input type="radio" name="wafsLesstof" value="studenten 10" id="wafsLesstof-2" required="" />
    <label for="wafsLesstof-2">studenten 10</label>
    <input type="radio" name="wafsLesstof" value="goed" id="wafsLesstof-3" required="" />
    <label for="wafsLesstof-3">Goed</label>
    <input type="radio" name="wafsLesstof" value="zeer goed" id="wafsLesstof-4" required="" />
    <label for="wafsLesstof-4">Zeer Goed</label>

    {{! Uitleg }}
    <h2>Hoe goed was de uitleg te begrijpen?</h2>
    <input type="radio" name="wafsUitleg" value="makkelijk" id="wafsUitleg-0" required="" />
    <label for="wafsUitleg-0">Zeer Lastig</label>
    <input type="radio" name="wafsUitleg" value="makkelijk" id="wafsUitleg-1" required="" />
    <label for="wafsUitleg-1">Lastig</label>
    <input type="radio" name="wafsUitleg" value="makkelijk" id="wafsUitleg-2" required="" />
    <label for="wafsUitleg-2">studenten 10</label>
    <input type="radio" name="wafsUitleg" value="makkelijk" id="wafsUitleg-3" required="" />
    <label for="wafsUitleg-3">Goed</label>
    <input type="radio" name="wafsUitleg" value="makkelijk" id="wafsUitleg-4" required="" />
    <label for="wafsUitleg-4">Zeer Goed</label>

    <h2>Opmerkingen:</h2>
    <textarea
      name="wafsOpmerkingen"
      cols="50"
      rows="7"
      placeholder="Opmerking:"
      required=""
    ></textarea>
  </fieldset>

  {{! --------------------------------CSS-------------------------------- }}
  <fieldset>
    <legend>CSS To The Rescue</legend>

    {{! Beoordelaar }}
    <h2>Beoordelaar</h2>
    <input type="radio" name="cssDocent" value="sanne" id="cssSanne" required="" />
    <label for="cssSanne">Sanne</label>
    <input type="radio" name="cssDocent" value="vasilis" id="cssVasilis" required="" />
    <label for="cssVasilis">Vasilis</label>

    {{! Weken }}
    <h2>In welke weken volgde je dit vak?</h2>
    <label for="cssWeekStart">Van week: </label>
    <input type="number" name="cssWeken" id="cssWeekStart" min="0" max="52" value="1" required="" />
    <label for="cssWeekEnd">tot week: </label>
    <input type="number" name="cssWeken" id="cssWeekEnd" min="0" max="52" value="3" required="" />

    {{! cijfer }}
    <h2>Welk cijfer geef je dit vak?</h2>
    <input type="radio" name="cssCijfer" value="0" id="cssCijfer-0" required="" />
    <label for="cssCijfer-0">0</label>
    <input type="radio" name="cssCijfer" value="1" id="cssCijfer-1" required="" />
    <label for="cssCijfer-1">1</label>
    <input type="radio" name="cssCijfer" value="2" id="cssCijfer-2" required="" />
    <label for="cssCijfer-2">2</label>
    <input type="radio" name="cssCijfer" value="3" id="cssCijfer-3" required="" />
    <label for="cssCijfer-3">3</label>
    <input type="radio" name="cssCijfer" value="4" id="cssCijfer-4" required="" />
    <label for="cssCijfer-4">4</label>
    <input type="radio" name="cssCijfer" value="5" id="cssCijfer-5" required="" />
    <label for="cssCijfer-5">5</label>
    <input type="radio" name="cssCijfer" value="6" id="cssCijfer-6" required="" />
    <label for="cssCijfer-6">6</label>
    <input type="radio" name="cssCijfer" value="7" id="cssCijfer-7" required="" />
    <label for="cssCijfer-7">7</label>
    <input type="radio" name="cssCijfer" value="8" id="cssCijfer-8" required="" />
    <label for="cssCijfer-8">8</label>
    <input type="radio" name="cssCijfer" value="9" id="cssCijfer-9" required="" />
    <label for="cssCijfer-9">9</label>
    <input type="radio" name="cssCijfer" value="10" id="cssCijfer-10" required="" />
    <label for="cssCijfer-10">10</label>

    {{! Lesstof }}
    <h2>Hoe goed was de lesstof te begrijpen?</h2>
    <input type="radio" name="cssLesstof" value="zeer lastig" id="cssLesstof-0" required="" />
    <label for="cssLesstof-0">Zeer Lastig</label>
    <input type="radio" name="cssLesstof" value="lastig" id="cssLesstof-1" required="" />
    <label for="cssLesstof-1">Lastig</label>
    <input type="radio" name="cssLesstof" value="studenten 10" id="cssLesstof-2" required="" />
    <label for="cssLesstof-2">studenten 10</label>
    <input type="radio" name="cssLesstof" value="goed" id="cssLesstof-3" required="" />
    <label for="cssLesstof-3">Goed</label>
    <input type="radio" name="cssLesstof" value="zeer goed" id="cssLesstof-4" required="" />
    <label for="cssLesstof-4">Zeer Goed</label>

    {{! Uitleg }}
    <h2>Hoe goed was de uitleg te begrijpen?</h2>
    <input type="radio" name="cssUitleg" value="zeer lastig" id="cssUitleg-0" required="" />
    <label for="cssUitleg-0">Zeer Lastig</label>
    <input type="radio" name="cssUitleg" value="lastig" id="cssUitleg-1" required="" />
    <label for="cssUitleg-1">Lastig</label>
    <input type="radio" name="cssUitleg" value="studenten 10" id="cssUitleg-2" required="" />
    <label for="cssUitleg-2">studenten 10</label>
    <input type="radio" name="cssUitleg" value="goed" id="cssUitleg-3" required="" />
    <label for="cssUitleg-3">Goed</label>
    <input type="radio" name="cssUitleg" value="zeer goed" id="cssUitleg-4" required="" />
    <label for="cssUitleg-4">Zeer Goed</label>

    <h2>Opmerkingen:</h2>
    <textarea
      name="cssOpmerkingen"
      cols="50"
      rows="7"
      placeholder="Opmerking:"
      required=""
    ></textarea>
  </fieldset>

  {{! --------------------------------BR-------------------------------- }}
  <fieldset>
    <legend>Browser Technologies</legend>

    {{! Beoordelaar }}
    <h2>Beoordelaar</h2>
    <input type="radio" name="btDocent" value="peter" id="btPeter" required="" />
    <label for="btPeter">Peter</label>
    <input type="radio" name="btDocent" value="robert" id="btRobert" />
    <label for="btRobert">Robert</label>

    {{! Weken }}
    <h2>In welke weken volgde je dit vak?</h2>
    <label for="btWeekStart">Van week: </label>
    <input type="number" name="btWeken" id="btWeekStart" min="0" max="52" value="5" />
    <label for="btWeekEnd">tot week: </label>
    <input type="number" name="btWeken" id="btWeekEnd" min="0" max="52" value="8" />

    {{! cijfer }}
    <h2>Welk cijfer geef je dit vak?</h2>
    <input type="radio" name="btCijfer" value="0" id="btCijfer-0" required="" />
    <label for="btCijfer-0">0</label>
    <input type="radio" name="btCijfer" value="1" id="btCijfer-1" />
    <label for="btCijfer-1">1</label>
    <input type="radio" name="btCijfer" value="2" id="btCijfer-2" />
    <label for="btCijfer-2">2</label>
    <input type="radio" name="btCijfer" value="3" id="btCijfer-3" />
    <label for="btCijfer-3">3</label>
    <input type="radio" name="btCijfer" value="4" id="btCijfer-4" />
    <label for="btCijfer-4">4</label>
    <input type="radio" name="btCijfer" value="5" id="btCijfer-5" />
    <label for="btCijfer-5">5</label>
    <input type="radio" name="btCijfer" value="6" id="btCijfer-6" />
    <label for="btCijfer-6">6</label>
    <input type="radio" name="btCijfer" value="7" id="btCijfer-7" />
    <label for="btCijfer-7">7</label>
    <input type="radio" name="btCijfer" value="8" id="btCijfer-8" />
    <label for="btCijfer-8">8</label>
    <input type="radio" name="btCijfer" value="9" id="btCijfer-9" />
    <label for="btCijfer-9">9</label>
    <input type="radio" name="btCijfer" value="10" id="btCijfer-10" />
    <label for="btCijfer-10">10</label>

    {{! Lesstof }}
    <h2>Hoe goed was de lesstof te begrijpen?</h2>
    <input type="radio" name="btLesstof" value="zeer lastig" id="btLesstof-0" required="" />
    <label for="btLesstof-0">Zeer Lastig</label>
    <input type="radio" name="btLesstof" value="lastig" id="btLesstof-1" />
    <label for="btLesstof-1">Lastig</label>
    <input type="radio" name="btLesstof" value="studenten 10" id="btLesstof-2" />
    <label for="btLesstof-2">studenten 10</label>
    <input type="radio" name="btLesstof" value="goed" id="btLesstof-3" />
    <label for="btLesstof-3">Goed</label>
    <input type="radio" name="btLesstof" value="zeer goed" id="btLesstof-4" />
    <label for="btLesstof-4">Zeer Goed</label>

    {{! Uitleg }}
    <h2>Hoe goed was de uitleg te begrijpen?</h2>
    <input type="radio" name="btUitleg" value="zeer lastig" id="btUitleg-0" required="" />
    <label for="btUitleg-0">Zeer Lastig</label>
    <input type="radio" name="btUitleg" value="lastig" id="btUitleg-1" />
    <label for="btUitleg-1">Lastig</label>
    <input type="radio" name="btUitleg" value="studenten 10" id="btUitleg-2" />
    <label for="btUitleg-2">studenten 10</label>
    <input type="radio" name="btUitleg" value="goed" id="btUitleg-3" />
    <label for="btUitleg-3">Goed</label>
    <input type="radio" name="btUitleg" value="zeer goed" id="btUitleg-4" />
    <label for="btUitleg-4">Zeer Goed</label>

    <h2>Opmerkingen:</h2>
    <textarea
      name="btOpmerkingen"
      cols="50"
      rows="7"
      placeholder="Opmerking:"
      required=""
    ></textarea>
  </fieldset>

  {{! --------------------------------PWA-------------------------------- }}
  <fieldset>
    <legend>Progresive Web Apps</legend>

    {{! Beoordelaar }}
    <h2>Beoordelaar</h2>
    <input type="radio" name="pwaDocent" value="declan" id="pwaDeclan" required="" />
    <label for="pwaDeclan">Declan</label>
    <input type="radio" name="pwaDocent" value="justus" id="pwaJustus" />
    <label for="pwaJustus">Justus</label>

    {{! Weken }}
    <h2>In welke weken volgde je dit vak?</h2>
    <label for="pwaWeekStart">Van week: </label>
    <input type="number" name="pwaWeken" id="pwaWeekStart" min="0" max="52" value="5" required="" />
    <label for="pwaWeekEnd">tot week: </label>
    <input type="number" name="pwaWeken" id="pwaWeekEnd" min="0" max="52" value="8" />

    {{! cijfer }}
    <h2>Welk cijfer geef je dit vak?</h2>
    <input type="radio" name="pwaCijfer" value="0" id="pwaCijfer-0" required="" />
    <label for="pwaCijfer-0">0</label>
    <input type="radio" name="pwaCijfer" value="1" id="pwaCijfer-1" />
    <label for="pwaCijfer-1">1</label>
    <input type="radio" name="pwaCijfer" value="2" id="pwaCijfer-2" />
    <label for="pwaCijfer-2">2</label>
    <input type="radio" name="pwaCijfer" value="3" id="pwaCijfer-3" />
    <label for="pwaCijfer-3">3</label>
    <input type="radio" name="pwaCijfer" value="4" id="pwaCijfer-4" />
    <label for="pwaCijfer-4">4</label>
    <input type="radio" name="pwaCijfer" value="5" id="pwaCijfer-5" />
    <label for="pwaCijfer-5">5</label>
    <input type="radio" name="pwaCijfer" value="6" id="pwaCijfer-6" />
    <label for="pwaCijfer-6">6</label>
    <input type="radio" name="pwaCijfer" value="7" id="pwaCijfer-7" />
    <label for="pwaCijfer-7">7</label>
    <input type="radio" name="pwaCijfer" value="8" id="pwaCijfer-8" />
    <label for="pwaCijfer-8">8</label>
    <input type="radio" name="pwaCijfer" value="9" id="pwaCijfer-9" />
    <label for="pwaCijfer-9">9</label>
    <input type="radio" name="pwaCijfer" value="10" id="pwaCijfer-10" />
    <label for="pwaCijfer-10">10</label>

    {{! Lesstof }}
    <h2>Hoe goed was de lesstof te begrijpen?</h2>
    <input type="radio" name="pwaLesstof" value="zeer lastig" id="pwaLesstof-0" required="" />
    <label for="pwaLesstof-0">Zeer Lastig</label>
    <input type="radio" name="pwaLesstof" value="lastig" id="pwaLesstof-1" />
    <label for="pwaLesstof-1">Lastig</label>
    <input type="radio" name="pwaLesstof" value="studenten 10" id="pwaLesstof-2" />
    <label for="pwaLesstof-2">studenten 10</label>
    <input type="radio" name="pwaLesstof" value="goed" id="pwaLesstof-3" />
    <label for="pwaLesstof-3">Goed</label>
    <input type="radio" name="pwaLesstof" value="zeer goed" id="pwaLesstof-4" />
    <label for="pwaLesstof-4">Zeer Goed</label>

    {{! Uitleg }}
    <h2>Hoe goed was de uitleg te begrijpen?</h2>
    <input type="radio" name="pwaUitleg" value="zeer lastig" id="pwaUitleg-0" required="" />
    <label for="pwaUitleg-0">Zeer Lastig</label>
    <input type="radio" name="pwaUitleg" value="lastig" id="pwaUitleg-1" />
    <label for="pwaUitleg-1">Lastig</label>
    <input type="radio" name="pwaUitleg" value="studenten 10" id="pwaUitleg-2" />
    <label for="pwaUitleg-2">studenten 10</label>
    <input type="radio" name="pwaUitleg" value="goed" id="pwaUitleg-3" />
    <label for="pwaUitleg-3">Goed</label>
    <input type="radio" name="pwaUitleg" value="zeer goed" id="pwaUitleg-4" />
    <label for="pwaUitleg-4">Zeer Goed</label>

    <h2>Opmerkingen:</h2>
    <textarea
      name="pwaOpmerkingen"
      cols="50"
      rows="7"
      placeholder="Opmerking:"
      required=""
    ></textarea>
  </fieldset>
  <button class="submitButton">Verstuur</button>
</form>