* {
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #fff;
  font-family: open sans;
  margin-bottom: 5em;
}

button {
  width: 30em;
  height: 4em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  background-color: black;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  margin: 3em auto 1em auto;
}

fieldset {
  display: inline;
  width: 30em;
  margin: 1em auto;
  background-color: #fff;
}

fieldset:first-of-type {
  display: block;
}

@supports (display: flex) {
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }

  fieldset {
    width: 90%;
    max-width: 30em;
  }

  header {
    display: flex;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5em;
  background-color: #777;
}

footer a {
  color: #ffffff;
  font-size: 0.8em;
}

footer p {
  line-height: 0.69em;
  font-size: 0.8em;
  color: #fff;
}

form {
  max-width: 90em;
  padding: 2.6em 0 2.25em 0;
  background-color: #fef01f;
}

h2 {
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 22px;
  line-height: 2.25em;
}

h3 {
  margin: 0 auto;
}

/* document.forms.elements */

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid #fff;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 22px;
  color: #555;
  background-color: #efefef;
  box-shadow: 0 1px 2px rgb(0 0 0 / 9%) inset;
}

textarea {
  resize: none;
  font-family: open sans;
}

input[type="radio"] {
  display: none;
}

label {
  margin: 0 0.25em;
  padding: 0.5em 0.3em;
  border-radius: 0.3em;
}

input:checked + label {
  background-color: #fef01f;
}

label:hover:not(fieldset:first-of-type > label, fieldset:nth-of-type(2n) label:nth-of-type(3)) {
  background-color: #fef01f;
}

legend {
  background-color: #fff;
  padding: 0.3em;
}

p {
  max-width: 38em;
  margin: 1em;
}
